<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../Styles/Css/Style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
     <script src="https://kit.fontawesome.com/0b92b93f06.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>
    <title>MobEmmanuel</title>
</head>
<body>
    <nav class="dashboard-nav-list nav-light">
        <ul class="dashboard-nav-logo">
            <a href="#"><span>MobEmmanuel</span></a>
        </ul>
        <ul class="dashboard-nav-items">
            <li class="nav-item nav"><a id="home" class="active"><span>Inicio</span></a></li>
            <li class="nav-item nav"><a id="administradores" ><span>Administradores</span></a></li>
            <li class="nav-item nav"><a id="tarjetas" ><span>Tarjetas</span></a></li>
            <li class="nav-item nav"><a id="log-out" ><span>Cerrar Sesión</span></a></li>
         </ul>
         
            <span class="bars show-items"><i class="fa-solid fa-bars"></i></span>
            <span class="bars hide-items"><i class="fa-solid fa-xmark"></i></span>
         
    </nav>
    <section class="content-primary">

    </section>
</body>
</html>
<script>
const limitWidth = 750
var showItems = false;
resize()
onclick()

$(window).resize((e) => {
        resize()
        onclick()
})
function onclick(){
    $(".nav").on('click', function(){
        $(".nav").children().removeClass("active");
        $(this).children().addClass("active");
    })
    $(".nav-item").on('click', function(){
        const id = $(this).children().attr("id");
        $(".content-primary").load(id+".html")
    })
    $(".nav-item-full").on('click', function(){
        const id = $(this).children().attr("id");
        $(".dashboard-nav-items-full").hide()
        $(".content-primary").load(id+".html")
        $(".show-items").show()
        $(".hide-items").hide()
        showItems = false;
        
    })
    $(".show-items").on('click', function(){
        $(".dashboard-nav-items-full").css("display","flex");
        $(".show-items").hide()
        $(".hide-items").show()
        showItems = true;
    })
    $(".hide-items").on('click', function(){
        $(".dashboard-nav-items-full").css("display","none");
        $(".show-items").show()
        $(".hide-items").hide()
        showItems = false;
    })
}
    function resize(){
        const windowWidth = window.innerWidth;
        if(windowWidth < limitWidth){
            movil()
        }else{
            web()
             }
    }
    function movil(){
        $(".nav-item").removeClass("nav-item").addClass("nav-item-full");; 
        $(".dashboard-nav-items").removeClass("dashboard-nav-items").addClass("dashboard-nav-items-full"); 
        
        if(!showItems){
            $(".dashboard-nav-items-full").hide()
            $(".show-items").show();
        }else{
            $(".dashboard-nav-items-full").css("display","flex");
            $(".show-items").hide();
        }
        
    }
    function web(){
        $(".nav-item-full").removeClass("nav-item-full").addClass("nav-item");; 
        $(".dashboard-nav-items-full").removeClass("dashboard-nav-items-full").addClass("dashboard-nav-items"); 
        $(".dashboard-nav-items").css("display","flex");
        $(".bars").hide()
        showItems = false;
     
    }
</script>
<script>
   
</script>